{% extends "FnxAdminBundle::layout.html.twig" %}

{% block javascript_defer %}
<script type="text/javascript">

$.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
	switch($('#extra_filtering').val()){
	    case "abertos":

		if(aData[3] == null || aData[5] == "em aberto")
		    return true;
		else
		    return false;
	    case "todos":
		return true;
	    case 'historico':
		if(aData[5] == 'fechado')
		    return true;
		else
		    return false;
	    case 'atrasado':
		if(aData[2]){
		    data = data.split('/');
		    data = new date(data[2], data[1], data[0]);
		    var data2 = new date();
		    if(data > data2)
			return true;
		    else
			return false;
		 }else
		     return false;
	    case 'rascunho':
		if(aData[5] == 'rascunho')
		    return true;
		else
		    return false;
	    default:
		return true;
	}
    }
);

    $("#extra_filter").submit(function(){ oTable.fnDraw(); return false;});

    $(document).ready(function(){

	$('#extra_filter').detach().appendTo($('.cdefi:first'));

        $("#table_pedidos tbody").on('dblclick', 'tr', function(){
            window.location.href = $('a:first',this).get(0).href;
        });

	var optTable = {};

	$.extend(optTable, defaultTable, {"sDom" : '<"filter_table fleft"f><"cdefi fleft"><"TTolls fright"T>t<"table_info fleft"i><"table_length fleft"l><"table_paginate fright"p>',"oTableTools": {
		"aButtons": [
		     {
			"sExtends":    "link",
			"sButtonText": "Novo",
			"sPath" : "{{ path("PedidoCadastrar") }}"
		    },
		    {
			"sExtends":    "link",
			"sButtonText": "Editar",
			"sPath" : "{{ path('PedidoEditar', {'id' : '$("tr.row_selected:first").attr("href")' }) }}"
		    },
		   {
			"sExtends":    "link",
			"sButtonText": "Remover"
		    },
		]
	    }});

	$('#table_pedidos').DataTable(optTable);
    });


</script>
{% endblock %}

{% block conteudo %}

<form id="extra_filter">
    <label>Filtrar: </label>
    <select id="extra_filtering">
	<option value="abertos">Em aberto</option>
	<option value="todos">Todos</option>
	<option value="historico">Histórico</option>
	<option value="atrasado">Em atraso</option>
	<option value="rascunho">Rascunhos</option>
    </select>
    <input type="submit" value="Ir" style="padding: 1px 8px;">
</form>

<table id="table_pedidos" class="data">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Data</th>
	    <th>Previsão</th>
            <th>Fechamento</th>
            <th>Valor</th>
	    <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for i in pedidos %}
            <tr>
                <td><a href="{{ path('PedidoEditar', {'id' : i.id }) }}">{{i.getCliente().getNome()|default('indefinido')}}</a></td>
                <td>{{(i.data)? i.data|date("d/m/Y") : ''}}</td>
		<td>{{(i.previsao)? i.previsao|date("d/m/Y") : ''}}</td>
                <td>{{(i.dataPagamento)? i.dataPagamento|date("d/m/Y") : ''}}</td>
                <td>{{i.valorTotal}}</td>
		<td>{{i.getStatusToStr()}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}