<div class="box-form-dialog">
    <form novalidate="" id="form" action="{{path('parcelaUpdate', {'id' : id})}}" method="post" class="cms ajaxFormTable">
        <div class="myform">         
                    {{ form_errors(form) }}
                    <div>
                        {{ form_errors(form.parcela.registro.conta)}}
                        {{ form_label(form.parcela.registro.conta)}}    
                        {{ form_widget(form.parcela.registro.conta,{'attr' : {'readonly' : 'readonly'}})}}
                    </div>
                
                    <div>
                        {{ form_errors(form.parcela.registro.descricao)}}
                        {{ form_label(form.parcela.registro.descricao)}}    
                        {{ form_widget(form.parcela.registro.descricao,{'attr' : {'readonly' : 'readonly'}})}}
                    </div>
                
                    <div>
                        {{ form_errors(form.parcela.registro.categoria)}}
                        {{ form_label(form.parcela.registro.categoria)}}    
                        {{ form_widget(form.parcela.registro.categoria,{'attr' : {'readonly' : 'readonly'}})}}
                    </div>
                    
                    <div class="picker">
                        {{ form_errors(form.parcela.dt_vencimento)}}
                        {{ form_label(form.parcela.dt_vencimento)}}    
                        {{ form_widget(form.parcela.dt_vencimento)}}
                    </div>
                
                    <div>
                        {{ form_errors(form.valor)}}
                        {{ form_label(form.valor)}}    
                        {{ form_widget(form.valor, {'attr' : { 'style' : 'width:30%'}})}}
                    </div>
            
                    <div>
                        {{ form_errors(form.formaPagamento)}}
                        {{ form_label(form.formaPagamento)}}    
                        {{ form_widget(form.formaPagamento)}}
                    </div>
                
                    <div>
                        {{ form_errors(form.valor_pago)}}
                        {{ form_label(form.valor_pago)}}    
                        {{ form_widget(form.valor_pago, {'attr' : { 'style' : 'width:30%'}})}}
                    </div>
                
                    <div class="datepicker">
                        {{ form_errors(form.data_pagamento)}}
                        {{ form_label(form.data_pagamento)}}    
                        {{ form_widget(form.data_pagamento)}}
                    </div>
           
        </div>                   
             {{ form_row(form._token) }} 
        <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
        <input type="submit" value="Submit"/>
    </form>
</div>

