{% extends 'FnxAdminBundle::layout.html.twig' %}

{% block title %} Inst칙ncia {% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Formul치rio de Inst칙ncia</h3>
        <ul>
            <li><a class="back-link" href="{{ path('financeiro_instancia')}}"><span></span>Voltar</a></li>
        </ul>
    </div>
{% endblock %}

{% block conteudo %}
 <div class="ui-panel-content ui-widget-content " style="width:auto">
    <h4 class="ui-panel-title ui-widget-header ">Inst칙ncia</h4>
    <div id="box-form">
        <form class="cms" action="{{ path('financeiro_instancia_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="myform">
                <div class='inputExtendido'>
                     {{ form_errors(form.nome)}}
                     {{ form_label(form.nome)}}
                     {{ form_widget(form.nome)}}<br>
                </div>
                <div>
                     {{ form_errors(form.descricao)}}
                     {{ form_label(form.descricao)}}
                     {{ form_widget(form.descricao)}}<br>
                </div>
            </div>

            {{ form_rest(form)}}<br>
            <input type="submit" value="Submit"/>
        </form>
    </div>
 </div>
{% endblock %}
