<h1>Instancia</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ entity.nome }}</td>
        </tr>
        <tr>
            <th>Descricao</th>
            <td>{{ entity.descricao }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('financeiro_instancia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('financeiro_instancia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('financeiro_instancia_delete', { 'id': entity.id }) }}" method="post">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
