{% extends "FnxPedidoBundle:Default:index.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('Resources/css/TableTools.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('Resources/css/TableTools_JUI.css') }}" type="text/css" rel="stylesheet" />
    <style>
        .ui-button{
            text-align: center;
            vertical-align: middle;
        }

        .ui-button img{
            width: 16px;
            height: 16px;
            margin: 0;
        }

        .hidden{
            visibility: hidden;
            display: none;
        }


        fieldset{
            margin: 15px;
            padding: 15px 25px;
        }

        #modal_new_item label,
        #modal_new_item .label,
        #modal_new_item input,
        #modal_new_item .input{
            display: block;
            width: 100px;
            float: left;
            height: 18px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Resources/js/TableTools.js') }}"></script>
    <script src="{{ asset('Resources/js/ZeroClipboard.js') }}"></script>
{% endblock %}

{% block javascript_defer %}
<script>

    var oTable = $('#tableItens').dataTable({
        "bJQueryUI": true,
        "bPaginate": false,
        "bFilter": false,
        "bRetrieve": true,
        "bInfo": false,
         "oLanguage": {
            "sEmptyTable": "Não existe nenhum item"
          },
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "aButtons": [
                 {
                    "sExtends":    "text",
                    "fnClick": function ( nButton, oConfig, oFlash ) {
                        $("#modal_new_item").wijdialog('open');
                    },
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/icojoy/noshadow/standart/png/24x24/001_01.png'/> Novo Item"
                },
                {
                    "sExtends":    "text",
                    "fnClick": function ( nButton, oConfig, oFlash ) {
                        alert( 'Editar Item' );
                    },
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/fatcow/32x32_0660/page_white_edit.png'/> Editar"
                },
                {
                    "sExtends":    "text",
                    "fnClick": function ( nButton, oConfig, oFlash ) {
                        alert( 'Deletar Item' );
                    },
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/diagona/icon/16/101.png'/> Deletar"
                }
            ]
        }
    });

    $( "#frm_cli_nome" ).autocomplete({
	source: [{{ array_clientes|join(",")|raw }}],
	minLength: 2
    });


    // variavel que guarda um status da verificação do cliente
    // 1 = OK , 0 = não verificado ou não existe, -1 = erro na verificação
    var userRegistered = 0;

    $("#frm_cli_nome").blur(function(){
	if(userRegistered != 1 && userRegistered != 0){
	    $cliente = confereCliente($(this));
	    if($cliente){
		$("#frm_cli_tel").text($cliente['tel']);
		$("#frm_cli_end").text($cliente['end']);
		$("#frm_cli_desc").text($cliente['desc']);
		$("#frm_cli_tipo").text($cliente['tipo']);
		$("#frm_cli_discr").text($cliente['discr']);

		$("is_registered").removeClass("hidden");
	    }else{
		$("is_registered").addClass("hidden");
	    }
	}
    });

    $("#frm_cli_nome").keypress(function(){
	userRegistered = -1;
    });

function confereCliente(elem, user){
    $.ajax({
        type: "POST",
        url: Routing.generate('PedidoVerificaCliente'),
	data: {'nome' : $(elem).val()},
        dataType: "JSON",
        success: function(result){
            if(result.cliente){
		userRegistered = 1;
		return result.cliente;
	    }else{
		userRegistered = 0;
		$('#modal_conf_cli').dialog('open');
		return null;
	    }
        },
        error: function(){
	    userRegistered = -1;
            alert('Não foi possível buscar as informações do cliente');
	    return false;
        }
    })
}

function cadastraCliente(form){
    $.ajax({
        type: "POST",
        url: Routing.generate('PedidoCadastraCliente'),
        data: {"info" : form.serialize()},
        success: function(result){
            var flag = new Boolean();
            if(jQuery.parseJSON(result).flag){

            }else{

            }
        }
    })
}

function confereFormulario(){
    if(!userRegistered == "confirmado"){
        $("#modal_conf_cli").dialog("open");
    }
    return false;
}

function cadastraItem(form,table){
    $.ajax({
        type: "POST",
        url: Routing.generate('PedidoAdicionaItem'),
        data: {
		"nome": $(form).find("#form_item_nome").val(),
		"preco" : $(form).find("#form_item_preco").val(),
		"quantidade": $(form).find('#form_item_qtd').val(),
		"descricao": $(form).find('#form_item_desc').val()
	    },
        dataType: "JSON",
        success: function(result){
            result = jQuery.parseJSON(result);
            table.fnAddData([
                result.item,
                result.descricao,
                result.quantidade,
                "R$ "+result.valor,
                "R$ "+(result.valor*result.quantidade)
            ])
        }
    })
}

function calculaTotal(table,col,fieldResult){
    var total = 0.0;
    $(table).find("tr").each(function(){
        total += parseFloat($(this).find("td").eq(col).text().slice(3));
    });

    $(fieldResult).text("R$ "+total);
}

$(document).ready(function(){
    $('.simple_dialog').dialog({ autoOpen : false});
    $('.simple_dialog').removeClass('hidden');
    $('#modal_conf_cli').dialog({ autoOpen: false, buttons: [
	{
	    text: "Sim",
	    click: function() { userRegistered = 1;$(this).wijdialog('close'); }
	},
	{
	    text: "Não",
	    click: function() { userRegistered = 0;$(this).wijdialog('close'); }
	}
    ]});
    $('#modal_conf_cli').removeClass('hidden');
});

</script>
{% endblock %}

{% block conteudo%}
<form onsubmit="confereformulario();" method="POST">
    <fieldset>
        <legend>Cliente</legend>
        <label for="frm_id_cliente_nome">Cliente</label>
        <input id="frm_cli_nome"><br/>

        <div class="hidden" id="is_registered">
	    <span class="label">Telefone: </label>
	    <span class="input" id="frm_cli_tel"></span><br>

	    <span class="label">Endereço: </label>
	    <span class="input" id="frm_cli_end"></span><br>

	    <span class="label">Descrição: </label>
	    <span class="input" id="frm_cli_desc"></span><br>

	    <span class="label" id="frm_cli_info"></label>
	    <span class="input" id="frm_cli_disc"></span><br>
	</div>
    </fieldset>

    <table id="tableItens" class="tablePlugin2">
        <thead>
            <tr>
                <th>Item</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right;">Total: </td>
                <td id="sommatory"></td>
            </tr>
        </tfoot>
    </table>

    <label for="frm_ped_id_previsao">Previsão de entrega</label>
    {% ui_datepicker dateFormat="dd/mm/yy" minDate="+1" ID="frm_ped_id_previsao" %}

    <input type="submit" value="Salvar"/>
</form>

 <div class="dialog hidden" id="modal_form_item"
               title="Adicione um item"
               autoOpen=false
               modal=true >
    <form>
	<fieldset>
	    <legend>Adicione um Item</legend>
	    <label for="form_item_desc">Item</label>
	    {% ui_autocomplete id="form_item_desc" %}<br>

	    <label for="form_item_qtd">Quantidade</label>
	    <input id="form_item_qtd" /><br>

	    <label for="form_item_esp">Especificação</label>
	    <textarea id="form_item_esp"></textarea><br>
	</fieldset>
    </form>
</div>

<div id="modal_conf_cli" class="dialog hidden" title="Esse cliente não está cadastrado">

<p>Esse cliente ainda não está cadastrado

    Deseja cadastra-lo agora?</p>
</div>

<div id="modal_new_item" class="dialog hidden" title="Adicionar Item" >

    <form onsubmit="cadastraItem($(this))">
	<label for="form_item_nome">Item</label>
	{% ui_autocomplete name="" id="form_item_nome" %}<br>

	<label for="label_valor_item">Preço: </label>
	<input id="label_valor_item"><br>

	<label for="fomr_item_qtd">Quantidade</label>
	<input name="" id="form_item_qtd"><br>

	<span class="label">Total: </span><span id="label_total_item" class="input"></span><br>

	<label for="form_item_desc">Descrição</label>
	<textarea name="" id="form_item_desc" class="input"></textarea><br>

	<input type="submit" value="Adicionar">
    </form>
</div>

{% endblock %}