{% extends "FnxPedidoBundle:Default:index.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('Resources/css/TableTools.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('Resources/css/TableTools_JUI.css') }}" type="text/css" rel="stylesheet" />
    <style>
        .ui-button{
            text-align: center;
            vertical-align: middle;
        }

        .ui-button img{
            width: 16px;
            height: 16px;
            margin: 0;
        }

        .hidden{
            visibility: hidden;
            display: none;
        }


        fieldset{
            margin: 15px;
            padding: 15px 25px;
        }

        #modal_new_item label,
        #modal_new_item .label,
        #modal_new_item input,
        #modal_new_item .input{
            display: block;
            width: 100px;
            float: left;
            height: 18px;
            margin-bottom: 5px;
        }

	.clear{
	    clear: both;
	}
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Resources/js/TableTools.js') }}"></script>
    <script src="{{ asset('Resources/js/ZeroClipboard.js') }}"></script>

<script>
    var oTable = $('#tableItens').dataTable({
        "bJQueryUI": true,
        "bPaginate": false,
        "bFilter": false,
        "bRetrieve": true,
        "bInfo": false,
         "oLanguage": {
            "sEmptyTable": "Não existe nenhum item"
          },
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "aButtons": [
                 {
                    "sExtends":    "text",
                    "fnClick": function ( nButton, oConfig, oFlash ) {
                        $("#modal_new_item").dialog('open');
                    },
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/icojoy/noshadow/standart/png/24x24/001_01.png'/> Novo Item"
                },
                {
                    "sExtends":    "text",
                    "fnClick": function ( nButton, oConfig, oFlash ) {
                        alert( 'Editar Item' );
                    },
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/fatcow/32x32_0660/page_white_edit.png'/> Editar"
                },
                {
                    "sExtends":    "text",
                    "fnClick": function ( nButton, oConfig, oFlash ) {
                        alert( 'Deletar Item' );
                    },
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/diagona/icon/16/101.png'/> Deletar"
                }
            ]
        }
    });

    $( "#frm_cli_nome" ).autocomplete({
	source: [{{ array_clientes|join(",")|raw }}],
	minLength: 2
    });


    // variavel que guarda um status da verificação do cliente
    // 1 = OK , 0 = não verificado ou não existe, -1 = erro na verificação
    var userRegistered = 0;

    $("#frm_cli_nome").blur(function(){
	if(userRegistered == -1){
	    confereCliente($(this));
	}
    });

    $('#form_item_preco').blur(function(){
	if($(this).val() && $('#form_item_qtd').val()){
	    var aux = desformataDinheiro($(this).val()) * $('#form_item_qtd').val();
	    $('#label_total_item').text(formataDinheiro(aux));
	}
    });

    $('#form_item_qtd').blur(function(){
	if($('#form_item_preco').val() && $(this).val()){
	    $('#label_total_item').text(formataDinheiro(desformataDinheiro($('#form_item_preco').val()) * $(this).val()));
	}
    });

    $("#frm_cli_nome").keydown(function(){
	userRegistered = -1;
    });

    $('#form_item_submit').click(function(){
	cadastraItem($('#form_new_item'), $('#tableItens'))
	$('#modal_new_item').dialog('close');

	$('#form_item_nome').val('');
	$('#form_item_preco').val('');
	$('#form_item_qtd').val('');
	$('#label_total_item').text('');
	$('#form_item_desc').val('');
    });

    $('form.ajax_form_append').submit(function(e){



	e.preventDefault();
    });

function limpaDadosCliente(){
    $("#frm_cli_tel").text('');
    $("#frm_cli_desc").text('');
    $("#frm_cli_tipo").text('');
    $("#frm_cli_disc").text('');

    $('#is_registered').addClass('hidden');
}

function confereCliente(elem, user){
    $.ajax({
        type: "POST",
        url: Routing.generate('PedidoVerificaCliente'),
	data: {'nome' : $(elem).val()},
        dataType: "JSON",
        success: function(cliente){
            if(cliente){
		console.log(cliente);
		userRegistered = 1;
		$("#frm_cli_tel").text(cliente['tel']);
		$("#frm_cli_desc").text(cliente['desc']);
		$("#frm_cli_tipo").text(cliente['tipo']);
		$("#frm_cli_disc").text(cliente['disc']);

		$('#is_registered').removeClass('hidden');
	    }else{
		userRegistered = 0;
		limpaDadosCliente();
		$('#modal_conf_cli').dialog('open');
	    }
        },
        error: function(){
	    userRegistered = 0;
            alert('Não foi possível buscar as informações do cliente');
	    limpaDadosCliente();
	    return false;
        }
    });
}

function cadastraCliente(form){
    $.ajax({
        type: "POST",
        url: Routing.generate('PedidoCadastraCliente'),
        data: {"nome" : form.serialize()},
        success: function(result){
            var flag = new Boolean();
            if(jQuery.parseJSON(result).flag){

            }else{

            }
        }
    })
}

function confereFormulario(){
    if(!userRegistered == "confirmado"){
        $("#modal_conf_cli").dialog("open");
    }
    return false;
}

function addItem(table,item){
    $(table).dataTable().fnAddData([
	item['nome'],
	item['descricao'],
	item['quantidade'],
	formataDinheiro(item['valor']),
	formataDinheiro(item['valor']*item['quantidade'])
    ]);
}

$('form.ajax_form_append').submit(event,function(form){

    $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: "JSON",
        success: function(item){
	    $table = $($(this).attr('data-append_in'));

	    $($table).attr('data-callback_append')($($table),item);

	    calculaTotal($($table),$($table).attr('data-col_totalizer'),$($($table).attr('data-field_result')));
        }
    })

    e.preventDefault();
});

function calculaTotal(table,col,fieldResult){
    var total = 0.0;
    $(table).find("tbody tr").each(function(){
	$col = $(this).find("td").eq(col)
	if($(col).hasClass('moeda'))
	    total += desformataDinheiro($($col).text());
	else
	    total += $($col).text();
    });

    $(fieldResult).text(formataDinheiro(total));
}

$(document).ready(function(){
    $('.simple_dialog').dialog({ autoOpen : false, modal: true, resizable: false});
    $('.simple_dialog').removeClass('hidden');
    $('#modal_conf_cli').dialog({ buttons: [
	{
	    text: "Sim",
	    click: function() { userRegistered = 1;$(this).dialog('close'); }
	},
	{
	    text: "Não",
	    click: function() { userRegistered = 0;$(this).dialog('close'); }
	}
    ]});
    $('#modal_conf_cli').removeClass('hidden');
    $('.data').datepicker();
    $('#frm_ped_id_previsao').datepicker("option", "minDate", 'd +1');
});

</script>
{% endblock %}

{% block conteudo%}
<form onsubmit="confereformulario();" method="POST">
    <fieldset>
        <legend>Cliente</legend>
	<table>
	    <thead>
		<tr>
		    <td>{{ form_label(form.cliente) }}: {{ form_errors(form.cliente) }}</td>
		    <td>{{ form_widget(form.cliente) }}</td>
		</tr>
		<tr>
		    <td><label for="frm_id_cliente_nome">Cliente: </label></td>
		    <td><input id="frm_cli_nome"><br/></td>
		</tr>
	    </thead>
	    <tbody  id="is_registered" class="hidden">
		<tr>
		    <td>Telefone: </td>
		    <td id="frm_cli_tel"></td>
		</tr>
		<tr>
		    <td>Descrição: </td>
		    <td id="frm_cli_desc"></td>
		</tr>
		<tr>
		    <td id="frm_cli_tipo"></td>
		    <td id="frm_cli_disc"></td>
		</tr>
	    </tbody>
	</table>
    </fieldset>
    {{ form_label(form.previsao) }}
    <label for="frm_ped_id_previsao">Previsão de entrega</label>
    {{ form_widget(form.previsao) }}
    <input type="text" id="frm_ped_id_previsao" name="data">

    <hr style="margin: 15px;">

    <table id="tableItens" class="tablePlugin2" data-col_totalizer=4 data-field_result="#sommatory" data-callback_append="addItem" >
        <thead>
            <tr>
                <th>Item</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right;">Total: </td>
                <td id="sommatory"></td>
            </tr>
        </tfoot>
    </table>

    <input type="submit" value="Salvar"/>
</form>

<div id="modal_conf_cli" class="simple_dialog hidden" title="Esse cliente não está cadastrado">

<p>Esse cliente ainda não está cadastrado

    Deseja cadastra-lo agora?</p>
</div>

<div id="modal_new_item" class="simple_dialog" title="Adicionar Item" style="width: 500px; height: 400px;">
    <form id="form_new_item" class="ajax_form_append" action="{{ path('PedidoAdicionaItem') }}" method="POST">
	<label for="form_item_nome">Item: </label>
	<input id="form_item_nome" name="nome"><br class="clear">

	<label for="form_item_preco">Preço: </label>
	<input id="form_item_preco" class="moeda" name="preco"><br class="clear">

	<label for="form_item_qtd">Quantidade:</label>
	<input id="form_item_qtd" name="quantidade"><br class="clear">

	<span class="label">Total: </span>
	<span id="label_total_item" class="input"></span><br class="clear">

	<label for="form_item_desc">Descrição</label>
	<textarea id="form_item_desc" class="input" name="descricao"></textarea><br class="clear">

	<input type="submit" id="form_item_submit" value="Adicionar">
    </form>
</div>

{% endblock %}