{% extends 'FnxAdminBundle::layout.html.twig' %}
{% block title %} Usuário {% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Funcinário: {{ funcionario.nome}}</h3>
        <ul>  
            <li><a class="back-link" href="{{ path('funcionarioShow', {'id' : funcionario.id})}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}

{% block conteudo %}
<div id="box-form">
    
    <form novalidate="" id="form" action="{{ path('funcionarioAddUser', {'id' : funcionario.id})}}" method="post" class="cms">
            {{ form_errors(form) }}
            
            <fieldset>
                <legend>Formulário</legend>
                <div> 
                    {{ form_errors(form.username)}}
                    {{ form_label(form.username)}}    
                    {{ form_widget(form.username)}}
                </div>

                <!-- Campos repitidos deve ser rendenrizados
                     apenas com form_widget-->
                <div class="repeats">
                    <div> 
                    {{ form_widget(form.password)}}
                    </div>
                </div>

            </fieldset>
            <div class="checkbox">
                <fieldset>
                    <legend> {{ form_label(form.userRoles, 'Roles')}} </legend>
                        {{ form_errors(form.userRoles)}}
                        {{ form_widget(form.userRoles)}}
                </fieldset>
            </div>
            
            {{ form_rest(form)}}

            <input type="submit" value="Submit"/>
    </form>
    
</div>


{% endblock %}