<div class="tabs">
    <ul>
	<li><a href="#tabs-1">Informações</a></li>
        <li><a href="#tabs-2">Eventos</a></li>
        <li><a href="#tabs-3">Histórico</a></li>
    </ul>
    
    <div id="tabs-1">
      {% include "FnxAdminBundle:Funcionario:informacoes.html.twig" %} 
    </div>
    
    <div id="tabs-2" style="padding: 0px;">
        <div class="box-table" style="margin: 10px 0px 10px 0px">
                <table id="table">
                    <thead>
                        <tr>
                            <th>Atividade</th>
                            <th>Início</th>
                            <th>Fim</th>
                            <th>Valor</th>
                         </tr>
                     </thead>
                     <tbody>
                     {% for escala in escalas %}
                          <tr>
                              <td><a style="color:blue" href="{{path("atividadeShow", {"id" : escala.atividade.id})}}">{{escala.atividade.nome}}</a></td>
                              <td>{{escala.dtInicio|date('d/m/Y H:i:s')}}</td>
                              <td>{{escala.dtFim|date('d/m/Y H:i:s')}}</td>
                              <td>{{escala.custoUnitario}}</td>
                          </tr>
                     {% endfor %}
                     </tbody>
               </table>
        </div>

    </div>
    
     <div id="tabs-3">
         {% include "FnxAdminBundle:Funcionario:historico.html.twig" %}
    </div>
    
</div>
