{% extends 'FnxAdminBundle::layout.html.twig' %}
{% block title %} Alterar Senha {% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Funcionário: {{ funcionario.nome}}</h3>
        <h3 style="margin-left: 20px;">Usuário: {{ usuario.username}}</h3>
        <ul>  
            <li><a class="back-link" href="{{ path('funcionarioAddUser',{"id" : funcionario.id})}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}

{% block conteudo %}
<div id="box-form">
    
    <form novalidate="" id="form" action="{{ path('funcionarioUserSenha', {"id" : funcionario.usuario.id, 'idFuncionario' : funcionario.id})}}" method="post" class="cms">
            
            <fieldset>
                <legend>Usuário</legend>

                <!-- Campos repitidos deve ser rendenrizados
                     apenas com form_widget-->
                <div class="repeats">
                    <div> 
                    {{ form_widget(form.password)}}
                    </div>
                </div>

            </fieldset>

            {{ form_rest(form)}}

            <input type="submit" value="Submit"/>
    </form>
    
</div>
{% endblock %}