{% extends 'FnxAdminBundle::layout.html.twig' %}
{% block title %} Usuário {% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Funcinário: {{ funcionario.nome}}</h3>
        <ul>
            <li><a class="key-link ajax-link" href="{{ path("funcionarioUserSenha", {"id" : funcionario.usuario.id, 'idFuncionario' : funcionario.id})}}"><span></span>Senha</a></li> 
            <li><a class="delete-link confirm-link delete-alone" href="{{ path('funcionarioRemoveUser', {'id' : funcionario.id, 'idUsuario' : funcionario.usuario.id})}}"><span></span>Delete</a></li> 
            <li><a class="back-link" href="{{ path('funcionarioShow', {'id' : funcionario.id})}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}

{% block conteudo %}
<div id="box-form">
    <form novalidate="" id="form" action="{{ path('funcionarioAddUser', {'id' : funcionario.id})}}" method="post" class="cms">
            {{ form_errors(form) }}
            <fieldset>
                <legend>Usuário</legend>
                <div> 
                    {{ form_errors(form.username)}}
                    {{ form_label(form.username)}}    
                    {{ form_widget(form.username)}}
                </div>
            </fieldset>
            
            <div class="checkbox">
                <fieldset>
                    <legend> {{ form_label(form.userRoles, 'Roles')}} </legend>
                        {{ form_errors(form.userRoles)}}
                        {{ form_widget(form.userRoles)}}
                </fieldset>
            </div>
            
            {{ form_row(form._token) }} 
            <input type="submit" value="Submit"/>
    </form>
</div>

<div id="dialog-confirm" title="Deletar este usuário?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Você tem certeza?</p>
</div>


{% endblock %}