{% extends 'FnxAdminBundle::layout.html.twig' %}

{% block title %} Formul치rio {% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Funcion치rio Manager: Formul치rio</h3>
        <ul>
            <li><a class="back-link" href="{{ path('funcionarioHome')}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}

{% block conteudo %}
 <div class="ui-panel-content ui-widget-content " style="width:auto">
    <h4 class="ui-panel-title ui-widget-header ">Funcion치rio</h4>
    <div id="box-form">
    <form novalidate="" id="form" action="{{ funcionario.id ? path('funcionarioEdit', { 'id' : funcionario.id}) : path('funcionarioAdd')}}" method="post" class="cms">
    <div class="myform">
            {{ form_errors(form) }}
                <div style="text-align: right">
                    {{ form_errors(form.tipo)}}
                    {# form_label(form.tipo)#}    
                    {{ form_widget(form.tipo)}}
                </div>

                <div>
                    {{ form_errors(form.nome)}}
                    {{ form_label(form.nome)}}    
                    {{ form_widget(form.nome)}}
                </div>

                <div> 
                    {{ form_errors(form.telefone)}}
                    {{ form_label(form.telefone)}}    
                    {{ form_widget(form.telefone, {'attr' : {'class' : 'telefone'}})}}
                </div>
            
                <div class="timepicker"> 
                    {{ form_errors(form.escalaDiariaInicio)}}
                    {{ form_label(form.escalaDiariaInicio)}}    
                    {{ form_widget(form.escalaDiariaInicio)}}
                </div>
            
                <div class="timepicker"> 
                    {{ form_errors(form.escalaDiariaFinal)}}
                    {{ form_label(form.escalaDiariaFinal)}}    
                    {{ form_widget(form.escalaDiariaFinal)}}
                </div>
 
    </div>
                {{ form_rest(form)}}
            <input type="submit" value="Submit"/>
    </form>
    </div>  
</div>


{% endblock %}