{% extends "FnxAdminBundle::layout.html.twig" %}
{% block title %}Gerenciamento de Funcionários{% endblock %}

{% block menuContent %}

    <div id="menuContent">
        <h3>Gerenciamento: Lista de Funcionários</h3>
        <ul>
            <li><a class="new-link" href="{{ path('funcionarioAdd')}}"><span></span>Novo</a></li>
            <li><a route="funcionarioShow" class="show-link" href="#"><span></span>Profile</a></li>
            <li><a route="funcionarioEdit" class="edit-link" href="#"><span></span>Editar</a></li>
            <li><a route="funcionarioRemove" class="delete-link confirm-link" href="#"><span></span>Deletar</a></li>
        </ul>
    </div>

{% endblock %}

{% block subMenu %}
<div id="subMenu">
    <ul>
        <li><a href="{{ path("escalaFunIndex")}}">Escalas</a></li>
    </ul>
</div>
{% endblock %}

{% block conteudo %}

    <div class="box-table">
        <table id="table" class="doubleclick tablePlugin">
            <thead>
                <tr>
                    <th class="left">Nome</th>
                    <th>Cargo</th>
                    <th style="width: 10%">Telefone</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
        {% for funcionario in funcionarios %}
                <tr{% if loop.index is even %} class="row0" {% else %} class="row1" {% endif %}>
                    <td><a class="link-name" href="{{ path('funcionarioEdit', {'id': funcionario.id} )}}">{{ funcionario.nome|default("") }}</a></td>
                    <td>{{ funcionario.tipo.nome|default("") }} </td>
                    <td>{{ funcionario.telefone|default("") }}</td>
                    <td class="id">{{ funcionario.id|default("")}}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
     </div>

{% endblock %}