
<div class="ui-panel-content ui-widget-content " style="width:auto">
    <h4 class="ui-panel-title ui-widget-header ">Informações</h4>
    <table class="infos">
                <tr>
                    <th>Nome:</th>
                    <td>{{funcionario.nome}}</a></td>
                </tr>
                <tr>
                    <th>Telefone:</th>
                    <td>{{funcionario.telefone}}</td>
                </tr>
                <tr>
                    <th>Tipo:</th>
                    <td>{{funcionario.tipo == 'fun' ? "Funcionário" : "Free-lancer"}}</td>
                </tr>
                <tr>
                    <th>Rg:</th>
                    <td>{{funcionario.rg|default("#")}}</td>
                </tr>
                <tr>
                    <th>Cpf:</th>
                    <td>{{funcionario.cpf|default("#")}}</td>
                </tr>
                <tr>
                    <th>Dependentes:</th>
                    <td>{{funcionario.dependentes|default("#")}}</td>
                </tr>
    </table>
</div>
