      <form novalidate="" id="form" action="{{ path('funcionarioAddUser', {'id' : funcionario.id})}}" method="post" class="cms">
            {{ form_errors(form) }}
            
            <fieldset>
                <legend>Usuário</legend>
                <div> 
                    {{ form_errors(form.username)}}
                    {{ form_label(form.username)}}    
                    {{ form_widget(form.username)}}
                </div>

                <!-- Campos repitidos deve ser rendenrizados
                     apenas com form_widget-->
                <div class="repeats">
                    <div> 
                    {{ form_widget(form.password)}}
                    </div>
                </div>

            </fieldset>
            <div class="checkbox">
                <fieldset>
                    <legend> {{ form_label(form.userRoles, 'Roles')}} </legend>
                        {{ form_errors(form.userRoles)}}
                        {{ form_widget(form.userRoles)}}
                </fieldset>
            </div>
            
            {{ form_rest(form)}}

            <input type="submit" value="Submit"/>
    </form>