{% extends "FnxAdminBundle::layout.html.twig" %}

{% block title %} Atividade {% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Gerenciamento: Formulário de Atividade</h3>
        <ul>
            <li><a class="back-link" href="{{ path('atividadeHome')}}"><span></span>Voltar</a></li>
        </ul>
    </div>
{% endblock %}

{% block conteudo %}

   <div id="box-form">
    <form novalidate="" class="cms" action="{{ path('atividadeCreate') }}" method="post" {{ form_enctype(form) }}>
    <div class="myform">
        {{form_errors(form)}}

        <div class="inputExtendido">
            {{ form_errors(form.nome)}}
            {{ form_label(form.nome)}}
            {{ form_widget(form.nome, {"id" : "nome"})}}<br>
        </div>

        <div class="complete">
            {{ form_errors(form.cliente)}}
            {{ form_label(form.cliente)}}
            {{ form_widget(form.cliente, {"id" : "cliente"})}} <a class="ajax-link button" href="{{ path("clienteAdd")}}" title="Cliente">Adicionar</a><br>
        </div>

        <div>
            {{ form_errors(form.servico)}}
            {{ form_label(form.servico)}}
            {{ form_widget(form.servico, {"id" : "servico"})}}<br>
        </div>

        <div>
            {{ form_errors(form.cep)}}
            {{ form_label(form.cep)}}
            {{ form_widget(form.cep, {'attr' : {'class' : 'cep' ,'style' : 'width:20%' } })}}<br>
        </div>

        <div>
            {{ form_errors(form.estado)}}
            {{ form_label(form.estado)}}
            {{ form_widget(form.estado, {'id': 'estado'})}}<br>
        </div>

        <div>
            {{ form_errors(form.cidade)}}
            {{ form_label(form.cidade)}}
            {{ form_widget(form.cidade, {'id': 'cidade'})}}<br>
        </div>

        <div class="inputExtendido">
            {{ form_errors(form.bairro)}}
            {{ form_label(form.bairro)}}
            {{ form_widget(form.bairro)}}<br>
        </div>

        <div class="inputExtendido">
            {{ form_errors(form.rua)}}
            {{ form_label(form.rua)}}
            {{ form_widget(form.rua)}}<br>
        </div>

        <div class="inputExtendido">
            {{ form_errors(form.numero)}}
            {{ form_label(form.numero)}}
            {{ form_widget(form.numero)}}<br>
        </div>
    </div>

        {{ form_row(form._token) }}
        <input type="submit" value="Enviar"/><br>
    </form>
 </div>

{% endblock %}

