{% extends "FnxAdminBundle::layout.html.twig" %}
{% block title %} Atividade Manager {% endblock %}
{% block menuContent %}

 <div id="menuContent">
      <h3>Atividade Manager: Atividades Arquivadas</h3>
      <ul>
         <li><a route="atividadeAtivar" class="unarquive-link" href="#"><span></span>Ativar</a></li>
          <li><a route="atividadeDelete" class="delete-link confirm-link" href="#"><span></span>Deletar</a></li>
         <li><a class="back-link" href="{{ path("atividadeHome")}}"><span></span>Voltar</a></li>
      </ul> 
</div>

{% endblock %}

{% block subMenu %} 
<div id="subMenu">
    <ul>
        <li><a href="{{ path("atividadeHome")}}">Ativos</a></li>
    </ul>
</div>
{% endblock %}

{% block conteudo %}
<div class="box-table">
<table id="table">
    <thead>
        <tr>
            
            <th style="width: 400px;">Nome</th>
            <th>Descrição</th>
            <th>Cliente</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nome }}</td>
            <td>
                {% if entity.descricao|length > 100 %}
                {{ entity.descricao(100)}} <a href="{{path("atividadeEdit", {"id" : entity.id})}}">mais...</a>
                {% else %}
                {{ entity.descricao(100)}}
                {% endif %}
            </td>
            <td>{{entity.contrato.cliente.nome}}</td>
            <td class="id">{{ entity.id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
