{% block conteudo %}
<div class="box-form-dialog">
    <form novalidate="" id="form" action="{{ path('clienteAdd')}}" method="post" class="cms ajaxForm">
    <div class="myform">
            {{ form_errors(form) }}

          <fieldset style="margin-bottom: 20px;">
                <legend>Cliente</legend>

                <div style="text-align: right;" >
                        {{ form_errors(form.pessoa)}}
                        {{ form_widget(form.pessoa,{ 'id':'pessoa'})}}<br>
                </div>

                <div>
                    {{ form_errors(form.nome)}}
                    {{ form_label(form.nome)}}
                    {{ form_widget(form.nome)}}<br>
                </div>

                <div>
                    {{ form_errors(form.telefone)}}
                    {{ form_label(form.telefone)}}
                    {{ form_widget(form.telefone, {'attr' : {'class' : 'telefone'} })}}<br>
                </div>

                <div id="juridico">
                    <div>
                        {{ form_errors(form.cnpj)}}
                        {{ form_label(form.cnpj)}}
                        {{ form_widget(form.cnpj, {'attr' : {'class' : 'cnpj'} })}}<br>
                    </div>
                </div>

                <div id="fisico">
                    <div>
                        {{ form_errors(form.cpf)}}
                        {{ form_label(form.cpf)}}
                        {{ form_widget(form.cpf, {'attr' : {'class' : 'cpf'} })}}<br>
                    </div>
                </div>

                <div>
                    {{ form_errors(form.cep)}}
                    {{ form_label(form.cep)}}
                    {{ form_widget(form.cep, {'attr' : {'class' : 'cep'} })}}<br>
                </div>

                <div>
                    {{ form_errors(form.estado)}}
                    {{ form_label(form.estado)}}
                    {{ form_widget(form.estado, {'id': 'estado'})}}<br>
                </div>

                <div>
                    {{ form_errors(form.cidade)}}
                    {{ form_label(form.cidade)}}
                    {{ form_widget(form.cidade, {'id': 'cidadeDialog'})}}<br>
                </div>

                <div>
                    {{ form_errors(form.bairro)}}
                    {{ form_label(form.bairro)}}
                    {{ form_widget(form.bairro)}}<br>
                </div>

                <div>
                    {{ form_errors(form.rua)}}
                    {{ form_label(form.rua)}}
                    {{ form_widget(form.rua)}}<br>
                </div>

                <div>
                    {{ form_errors(form.numero)}}
                    {{ form_label(form.numero)}}
                    {{ form_widget(form.numero)}}<br>
                </div>


            </fieldset>
            <div id="responsavel">
            <fieldset>
                <legend>Responsável</legend>
                {% for responsavel in form.responsaveis %}
                    <div>
                        {{ form_errors(responsavel.nome)}}
                        {{ form_label(responsavel.nome)}}
                        {{ form_widget(responsavel.nome)}}<br>
                    </div>

                    <div>
                        {{ form_errors(responsavel.telefone)}}
                        {{ form_label(responsavel.telefone)}}
                        {{ form_widget(responsavel.telefone, {'attr' : {'class' : 'telefone'} })}}<br>
                    </div>

                    <div>
                        {{ form_errors(responsavel.cpf)}}
                        {{ form_label(responsavel.cpf)}}
                        {{ form_widget(responsavel.cpf, {'attr' : {'class' : 'cpf'} })}}<br>
                    </div>
                {% endfor %}
            </fieldset>
            </div>
     <div>
             {{ form_row(form._token) }}
            <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
            <input type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}
