{% extends "FnxAdminBundle::layout_simples.html.twig" %}
{% block _toolbar_options %}
<!--    <a href="#" ><div class="image"></div><span>Mensagens</span></a>
    <a href="#" ><div class="image"></div><span>Notificações</span></a> -->
    <a href="{{ path('_security_logout_a')}}" ><div class="image"></div><span>Sair</span></a>
{% endblock %}
{% block _conteudo_layout_simples %}
<div id="menu" {% if(app.request.cookies.has("menu_enable") and app.request.cookies.get("menu_enable") == "close") %} class="inactive" {% endif %} >
    <div id="button_disable_menu"></div>
    <h1>Menu</h1>
    <hr class="clear">
	    {% block menu %}
    <ul>
	<li><a href="{{ path('adminHome') }}"><div class="image"></div><span class="vertical-center">Principal</span><hr class="clear"></a></li>
	<li><a href="#b"><div class="image"></div><span class="vertical-center">Gerencia</span><hr class="clear"></a>
	    <ul>
		<li><a href="{{ path('funcionarioHome') }}">Funcionários</a></li>
		<li><a href="{{ path('clienteHome') }}">Cliente</a></li>
		<li><a href="{{ path('atividadeHome') }}">Atividade</a></li>
	    </ul>
	</li>
	<li><a href="#c"><div class="image"></div><span class="vertical-center">Financeiro</span><div class="clear"></div></a>
	    <ul>
		<li><a href="{{ path('financeiro_instancia') }}">Instância</a></li>
		<li><a href="{{ path('financeiro_conta') }}">Conta</a></li>
	    </ul>
	</li>
	<li><a href="{{path('PedidoListar')}}"><div class="image"></div><span class="vertical-center">Pedidos</span><hr class="clear"></a></li>
    </ul>
	    {% endblock %}
    <div id="layout-calendar"></div>
</div>
<div class="fleft gsa">
    <div id="fast_menu" {% if(app.request.cookies.has("fastmenu_enable") and app.request.cookies.get("fastmenu_enable") == "close") %} class="inactive"{% endif %}>
	<div id="button_fast-menu_disable"></div>
	<h1>Menu Rápido</h1>
	<div id="content_fast_menu">
	    <hr>
	    <ul>
		<li><a href="{{ path('atividadeHome')}}"><div class="image fast_menu"></div>Atividades</a></li>
		<li><a href="{{path('PedidoListar')}}"><div class="image fast_menu"></div>Pedidos</a></li>
		<li><a href="#"><div class="image fast_menu"></div>Contas a Pagar</a></li>
	    </ul>
	    <hr class="clear">
	</div>
	<hr class="clear">
    </div>
    <hr id="hr_sep">
    {% if app.session.hasFlash('success') %}
    <div class="flash-success">
	{{ app.session.flash('success') }}
	{{ app.session.removeFlash('success') }}
    </div>
    {% endif %}

    {% if app.session.hasFlash('error') %}
    <div class="flash-error">
	{{ app.session.flash('error') }}
	{{ app.session.removeFlash('error') }}
    </div>
    {% endif %}
    <div id="conteudo">
	<div id="menuContext">
	    {% block menuContent %}{% endblock %}
	</div>
	{% block conteudo %}{% endblock %}
    </div>
{% endblock %}

{% block _javascript %}
    <script type="text/javascript" >
	$(document).ready(function(){
	    $(document)
	    .ajaxStart(function(){
		$(".ajaxLoader").show();
	    }).ajaxStop(function(){
		$(".ajaxLoader").hide();
	    });

	    $('#menuContext')
		 .find('a:not(.back-link)')
		 .remove()
		 .detach()
		 .each(function(){ $(this).addClass('DTTT_button') })
		 .prependTo('.DTTT_container:first');

	    $('.filter_table').find('input:first').addClass('inputStyle');
	});

	var url_dominio = "tcc-fenix";
	var urlSource = "";
	var imageUrl = '/tcc-fenix/web/bundles/fnxadmin/images/';

	var $itemMenuAtivo;
	var $menuItens = $('#menu > ul').children();
	var itemMenuCallback;
	var trSelecionada;

	var onItemMenuClick = function(event){
		var $li = $(this).parent('li');
		if( $li.find('ul').length > 0 ){

		    event.preventDefault();

		    if(!menuIsOpen())
			ativarMenu();

		    if( $itemMenuAtivo !== undefined )
			$itemMenuAtivo.removeClass('active');

		    $itemMenuAtivo = $li.addClass('active');
		}
	    };

	$($menuItens).each(function(){
	    $(this).on('click','a:first', onItemMenuClick);
	});

	$('#button_disable_menu').on('click', function(){
	    ativarMenu();
	});

	$('#button_fast-menu_disable').on('click', function(){
	    $FastMenu = $('#fast_menu');
	    if($FastMenu.hasClass('inactive')){
		$FastMenu.removeClass('inactive');

		$.cookie('fastmenu_enable', 'open', {'expires' : 35, "path" : "/"});
	    }else{
		$FastMenu.addClass('inactive');
		$.cookie('fastmenu_enable', 'close', {'expires' : 35, "path" : "/"});
	    }
	});

	$('table.tablePlugin').DataTable(defaultTable);

	$('form ul + label + input').on('keyup', function(){
	    if(!$(this).hasClass('alterado'))
		$(this).addClass('alterado');
	});

	function menuIsOpen(){
	    return !($.cookie('menu_enable') == 'close');
	}

	function ativarMenu(){
	    $menu = $('#menu');
	    if($menu.hasClass('inactive')){
		$menu.removeClass('inactive');
		$.cookie('menu_enable', 'open', {'expires' : 35, "path" : "/"});
	    }else{
		$menu
		    .addClass('inactive')
		    .find('li.active')
		    .each(function(){ $(this).removeClass('active'); });
		$.cookie('menu_enable', 'close', {'expires' : 35, "path" : "/"});
	    }
	}
    </script>
{% endblock %}