
{% extends "FnxAdminBundle::layout.html.twig" %}

{% block title %} Formulário {% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Categoria Manager: Formulário</h3>
        <ul>
            <li><a class="back-link" href="{{ path('categoriaHome')}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}

{% block conteudo %}
{% ui_panel title="Categoria" style="width:auto"%}
    <div id="box-form">
        <form novalidate="" class="cms" action="{{ path('adm_categoria_create') }}" method="post" {{ form_enctype(form) }}>
             {{form_errors(form)}}
        
            <div class="inputExtendido">
                {{ form_errors(form.nome)}}
                {{ form_label(form.nome)}}    
                {{ form_widget(form.nome)}}
            </div>

            <div>
                {{ form_errors(form.descricao)}}
                {{ form_label(form.descricao)}}    
                {{ form_widget(form.descricao)}}
            </div>
            
            {{ form_row(form._token) }}
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% end_ui_panel %}
{% endblock %}
