{% extends "FnxAdminBundle::layout.html.twig" %}
{% block title %}Contas{% endblock %}

{% block menuContent %}

    <div id="menuContent">
        <h3>Lista de Contas</h3>
        <ul>
            <li><a class="new-link" href="{{ path('financeiro_conta_new')}}"><span ></span>Novo</a></li>
            <li><a route="financeiro_conta_show" class="show-link" href="#"><span></span>Profile</a></li>
            <li><a route="financeiro_conta_edit" class="edit-link" href="#"><span></span>Editar</a></li>
            <li><a route="financeiro_conta_delete" class="delete-link confirm-link" href="#"><span></span>Deletar</a></li>
        </ul>
    </div>

{% endblock %}

{% block conteudo %}
<div class="box-table doubleclick" route="financeiro_conta_show">
<table class="tablePlugin data">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Valor</th>
            <th>Instância</th>
            <th class="hide">id</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nome }}</td>
            <td>{{ entity.descricao }}</td>
            <td class="moedaTable">{{ entity.valor }}</td>
            <td>{{ entity.instancia.nome }}</td>
            <td class="id">{{ entity.id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    if($('.moedaTable').length > 0)
	$(".moedaTable").html(formataDinheiro($(".moedaTable").html()));
</script>
{% endblock %}


