{% extends "FnxAdminBundle::layout.html.twig" %}
{% block title %} {{ entity.nome }} {% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
     
{% block menuContent %}
    <div id="menuContent">
        <h3>Conta : {{ entity.nome }}</h3>
        <ul>
            <li><a class="back-link" href="{{ path('financeiro_conta')}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}

{% block conteudo %}
<div class="ui-panel-content ui-widget-content" style="width:auto; margin-bottom:1% !important">
      <h4 class="ui-panel-title ui-widget-header">Informações</h4>
      <table class="infos">
            <tr>
                <th>Conta:</th>
                <td>{{entity.nome}}</td>
            </tr>
            <tr>
                <th>Descrição:</th>
                <td>{{entity.descricao}}</td>
            <tr>
                <th>Instância:</th>
                <td>{{entity.instancia.nome}}</td>
            </tr>
            <tr>
                <th>Valor (Disponível):</th>
                <td class="moedaTable">{{entity.valor}}</td>
            </tr>
            <tr>
                <th>Valor (Futuro):</th>
                <td class="moedaTable">{{entity.valorFuturo}}</td>
            </tr>

      </table>
</div>

<div class="tabs">
    <ul>
	<li><a href="#tabs-1">Movimentações</a></li>
    </ul>
    <div id="tabs-1">
        {% include 'FnxFinanceiroBundle:Conta:tableTransacoes.html.twig' %}
    </div>
</div>
{% endblock %}