<div class="box-form-dialog">
    <form novalidate="" id="form" action="{{path('escalaCreate', {'id' : atividade.id})}}" method="post" class="cms ajaxFormTable formEscala">
    <div class="myform">         
            {{ form_errors(form) }}
                    <div class="datepicker">
                        {{ form_errors(form.dtInicio)}}
                        {{ form_label(form.dtInicio)}}    
                        {{ form_widget(form.dtInicio)}}
                    </div>
                
                    <div class="datepicker">
                        {{ form_errors(form.dtFim)}}
                        {{ form_label(form.dtFim)}}    
                        {{ form_widget(form.dtFim)}}
                    </div>
            
                    <div>
                        {{ form_errors(form.local)}}
                        {{ form_label(form.local)}}    
                        {{ form_widget(form.local)}}
                    </div>
            
                    <div>
                        {{ form_errors(form.custoUnitario)}}
                        {{ form_label(form.custoUnitario)}}    
                        {{ form_widget(form.custoUnitario, {'attr' : { 'style' : 'width:20%', 'class':'moeda'}})}}
                    </div>
    </div>                   
                    <h5 style="text-align: center; margin-bottom: 5px; font-size: 19px !important">{{ form_label(form.funcionarios)}}</h5>
                    <div class="erro-multiselect">
                    {{ form_errors(form.funcionarios)}}
                    </div>
                    <div>
                    {{ form_widget(form.funcionarios, {'attr' : {'class' : 'multiselect'}})}}
                    </div>
             {{ form_row(form._token) }} 
        <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
        <input type="submit" value="Submit"/>
    </form>
</div>

        <script type="text/javascript">   
        var funcionarioCount = '{{ form.funcionarios | length }}';

        </script>
