<div>
      {{ form_errors(form.nome)}}
      {{ form_label(form.nome)}}    
      {{ form_widget(form.nome)}}
</div>

<div>
      {{ form_errors(form.quantidade)}}
      {{ form_label(form.quantidade)}}    
      {{ form_widget(form.quantidade,{'attr' : { 'style' : 'width:10%'}})}}
</div>

<div>
      {{ form_errors(form.descricao)}}
      {{ form_label(form.descricao)}}    
      {{ form_widget(form.descricao)}}
</div>