{% extends "FnxAdminBundle::layout.html.twig" %}
{% block title %} Escala {% endblock %}

{% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" language="javascript" src="{{ asset('bundles/fnxadmin/table/tools/js/TableTools.min.js') }}"></script>
     <script type="text/javascript" language="javascript" src="{{ asset('bundles/fnxadmin/table/tools/js/fnReloadAjax.js') }}"></script>
     <script type="text/javascript" language="javascript" src="{{ asset('bundles/fnxadmin/js/tables/tableEscalaFun.js') }}"></script>
     <script type="text/javascript" language="javascript" src="{{ asset('bundles/fnxadmin/js/tables/tableTurno.js') }}"></script>
     <script type="text/javascript" language="javascript" src="{{ asset('bundles/fnxadmin/js/timepicker.js') }}"></script>
     <script type="text/javascript" language="javascript" src="{{ asset('bundles/fnxadmin/js/jquery.form.js') }}"></script>

{% endblock %}

{% block menuContent %}

    <div id="menuContent">
        <h3>Gerenciamento: Escala de Funcionários</h3>
        <ul>
            <li><a class="back-link" href="{{ path('funcionarioHome')}}"><span></span>Voltar</a></li>
        </ul>
    </div>

{% endblock %}

{% block subMenu %}
<div id="subMenu">
    <ul>
        <li><a href="{{ path("funcionarioHome")}}">Funcionários</a></li>
    </ul>
</div>
{% endblock %}

{% block conteudo %}
     <div>
       <div class="box-filter">
           <form novalidate="novalidate" class="filter" method="POST" action="">
            {{form_errors(formFilter)}}
            <div class='bold'>
                   {{ form_errors(formFilter.status)}}
                   {{ form_label(formFilter.status)}}
                   {{ form_widget(formFilter.status,{'attr' : {'class' : 'status'} })}}<br>
            </div>

            <div class='bold'>
                   {{ form_errors(formFilter.servico)}}
                   {{ form_label(formFilter.servico)}}
                   {{ form_widget(formFilter.servico,{'attr' : {'class' : 'servico'} })}}<br>
            </div>

            <input id="filtrarEscala" type="button" value="Filtrar">
        </form>
       </div>
       <hr style="margin-top: 1%; margin-bottom:1%">
       <div class="box-table">
            <table class="tableEscalaFun redraw data">
                <thead>
                    <tr>
                        <th rowspan="2" class="left">Nome</th>

                        <th colspan="4" class="ui-state-default">Escala</th>
                        <th rowspan="2"> </th>
                        <th rowspan="2">id</th>
                    </tr>
                    <tr>
                        <th>Serviço</th>
                        <th>Local</th>
                        <th>Descrição</th>
                        <th style="width: 24%;">Turno</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
         </div>
    </div>
{% endblock %}
