<div class="box-form-dialog">
    <form novalidate="" id="form" action="{{path('funcionario_servico_admin_create', {'id' : id})}}" method="post" class="cms ajaxFormTable formEscala endereco">
    <div class="myform">         
                    {{ form_errors(form) }}
                    <div>
                        {{ form_errors(form.descricao)}}
                        {{ form_label(form.descricao)}}    
                        {{ form_widget(form.descricao)}}
                    </div>
                    
                    <div>
                        {{ form_errors(form.fornecedor)}}
                        {{ form_label(form.fornecedor)}}    
                        {{ form_widget(form.fornecedor)}}
                    </div>
            
                    <div>
                        {{ form_errors(form.valor)}}
                        {{ form_label(form.valor)}}    
                        {{ form_widget(form.valor,{'attr' : { 'style' : 'width:20%','class':'moeda'}})}}
                    </div>    
    </div>                   
             {{ form_row(form._token) }} 
        <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
        
<div/>